<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/craftsstyle.css}">
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    <title>Carols Crafts</title>
</head>

<body>
<div id="navigation-bar">
    <ul>
        <li><a th:href="@{/home}"><img src="Images/Logo.png" id="logo"></a></li>
        <li><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/crafts}">Crafts</a></li>
        <li><a th:href="@{/contact}">Contact Me</a></li>
        <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Login</a></li>
        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
        <li><a th:href="@{/cartPage}"><img th:src="@{/Images/shoppingIcon.png}"></a></li>
    </ul>
</div>


<div class="crafts-container">

        <div class="card" th:each="item : ${allItems}">
            <div class="card-header">
                <img th:src="@{${item.imagePath}}" class="card-img">
            </div>

            <div class="card-body" th:text = "${item.text}">
            </div>

            <div class="card-footer">
                <a th:href="@{/craft/delete(craftId=${item.id})}" class="delete-icon" sec:authorize="hasRole('ROLE_ADMIN')">
                    <img th:src="@{/Images/Delete_Icon.png}">
                </a>
                <div class="item-price">
                    <h3>Cost:</h3>
                    <p th:text="${item.price}" class="price"></p>
                </div>
                <a th:href="@{/addToCart(craftId=${item.id})}">
                    <button class="btn">Add to cart</button>
                </a>
            </div>
        </div>

</div>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    <a id="add-button" th:href="@{/crafts/add}"><img src="Images/add-icon.png"></a>
</div>

</div>

<div id="footer">
    <a href="https://www.instagram.com/mckcarcreations/" target="_blank"><img th:src="@{Images/Instagram_Icon.png}" style="height: 50px; width: 100px"></a>
</div>


<script th:src="@{/js/script.js}"></script>
</body>
</html>