<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/loginstyle.css}">
    <title>Login page</title>
</head>
<body>

<div class="login-container">

    <h2>Enter your login info</h2>
    <hr style="border: 2px solid black;">

    <form th:action="@{/login}" class="login-form" method="POST">

        <div class="email-field">
            <label for="email"><img src="Images/login_icon.png"></label>
            <input type="email" id="email" required placeholder="Enter your email" name="username">
        </div>

        <div class="password-field">
            <label for="password"><img src="Images/password_icon.png"></label>
            <input type="password" id="password" required placeholder="Enter your password" name="password">
        </div>

        <div th:if="${param.error}" class="alert-error">Username or password is not correct</div>
        <div th:if="${param.disabled}" class="alert-error">
            Please verify your email
        </div>

        <a th:href="@{/register}" id="register">Register form</a>

        <button type="submit" id="login">Login</button>

    </form>

    <a th:href="@{/home}" class="home-page">Return to home page</a>
    <a class="reset-password" th:href="@{/reset-page}">Reset Password</a>

</div>

</body>
</html>