<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/resetstyle.css}">
  <title>Reset password</title>
</head>
<body>
  
  <div class="reset-password">
    <h1>Reset password</h1>

    <form method="POST" th:action="@{/reset-password}" th:object="${username}">
      <input type="email" class="email-field" placeholder="Enter your email" th:field="*{userInput}">
      <div th:if="${userNotFound}" th:text="${userNotFound}" class="error"></div>
      <button type="submit">Send</button>
    </form>
  
    <a th:href="@{/login}">Back to Login</a>

  </div>

</body>
</html>